<div class="list-of-words" #listOfWords>
  <div class="button button-close">
    <app-button (onClick)="back()" [noBackground]="true">
      <img src="assets/icons/cross.svg" width="32" />
    </app-button>
  </div>
  <div class="words">
    @for (item of words; track item.word; let i = $index) {
    <div class="word-block">
      <div class="word">
        {{ item.word }}
      </div>
      <ul
        class="translations {{
          item.translations.length > 1 ? 'translations-list' : ''
        }}"
        (click)="toggleTranslation(item.translations.length, $event)"
      >
        @for (item of item.translations; track item) {
        <li class="translation">{{ item }}</li>
        }
      </ul>
      <div class="button button-remove">
        <app-button (click)="removeWord(i)" [noBackground]="true">
          <img src="assets/icons/trash.svg" alt="" />
        </app-button>
      </div>
    </div>
    }
  </div>
  <div class="button button-add">
    <app-button (onClick)="addWordPage()">Add</app-button>
  </div>
</div>
