@font-face {
  font-family: "Victor Mono";
  src: url("../assets/fonts/VictorMono-Bold.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Victor Mono";
  src: url("../assets/fonts/VictorMono-Regular.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Victor Mono";
  src: url("../assets/fonts/VictorMono-Italic.ttf");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Victor Mono";
  src: url("../assets/fonts/VictorMono-Thin.ttf");
  font-style: normal;
  font-weight: 400;
}