//  * Fonts
$font-main: "Victor Mono";

// * Color
// Pink
$color-pink1: #ce7874;
$color-pink2: #fa9893;
$color-pink3: #ffa7a0;
$color-pink4: #f5cac4;

// Purple
$color-purple1: #281e2f;
$color-purple2: #544766;
$color-purple3: #9233ad;
$color-purple4: #af83d6;
$color-purple5: #d1b8d5;
$color-purple6: #d1cfe1;

// Green
$color-green1: #303e36;
$color-green2: #5d7b70;
$color-green3: #137f84;
$color-green4: #8a9a5b;
$color-green5: #84a59d;
$color-green6: #bed2c4;

// Blue
$color-blue1: #292c33;
$color-blue2: #1b1b6d;
$color-blue3: #2a3c5d;
$color-blue4: #1c5bb9;
$color-blue5: #6eb3f8;
$color-blue6: #87c2e7;
$color-blue7: #d7f9f9;

// Yellow
$color-yellow1: #ed9f47;
$color-yellow2: #eeb46a;
$color-yellow3: #f7efdb;

// Orange
$color-orange1: #da6a3a;
$color-orange2: #dc876a;

// White
$color-white1: #fff;
$color-white2: #f7ede3;

// Black
$color-black1: #000;
$color-black2: #727980;

// Black Transparent
$color-black1-transparent: rgba(0, 0, 0, 0.1);
$color-black2-transparent: rgba(0, 0, 0, 0.2);
$color-black3-transparent: rgba(0, 0, 0, 0.3);
$color-black4-transparent: rgba(0, 0, 0, 0.4);
$color-black5-transparent: rgba(0, 0, 0, 0.5);
$color-black6-transparent: rgba(0, 0, 0, 0.6);
$color-black7-transparent: rgba(0, 0, 0, 0.7);
$color-black8-transparent: rgba(0, 0, 0, 0.8);
$color-black9-transparent: rgba(0, 0, 0, 0.9);

// Red
$color-red4: #ba4030;
$color-red5: #d32f2f;
$color-red1: #e42b30;
$color-red2: #e14e3b;
$color-red3: #ee5d4a;

// Brown
$color-brown1: #995b3a;
$color-brown2: #c08b5c;

$color-transparent: transparent;