@import '../../../styles/_variables.scss';

.button {
  height: 100%;
  width: 100%;
}

button {
  border: 2px solid var(--border-color-button);
  background-color: var(--bg-color-button);
  transition: background-color 0.2s;
  color: var(--text-color-button);
  font-family: var(--font-main);
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  user-select: none;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  height: 100%;
  width: 100%;

  &.no-background {
    background-color: transparent;
    border: 2px solid transparent;
  }

  &:hover {
    background-color: var(--bg-color-button-hover);

    &.no-background {
      background-color: rgba($color-black1, .05);
    }
  }

  &:active {
    background-color: var(--bg-color-button-active);

    &.no-background {
      background-color: rgba($color-black1, .2);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    
    &:hover {
      background-color: var(--bg-color-button);
    }

    &:active {
      background-color: var(--bg-color-button);
    }
  }
}

