<div class="choose-right" #chooseRight>
  <div class="button button-back">
    <app-button (onClick)="back()">Back</app-button>
  </div>
  <section>
    <div class="word">
      {{ words[currentQuestion].word }}
    </div>
  </section>
  <section>
    <ul class="transtlations" #translationsElement>
      @for (item of translations[currentQuestion]; track item.translation) {
      <li class="translation">
        <app-button (onClick)="checkAnswer()">{{ item.translation }}</app-button>
      </li>
      }
    </ul>
  </section>
  <div class="button button-next">
    <app-button (click)="nextQuestion()">{{currentQuestion == words.length - 1 ? 'Finish' : 'Next'}}</app-button>
  </div>
</div>
